<div class="container">
    <h1 style="font-weight: bold;">FPS
        <span style="color: #5e60ce;"> GOLF</span> 
        <span> — AdrenaLAN</span> 
    </h1>    
    <p class="text-container">
        A project in game development that included three distinct levels. The levels each contained unique enemies
        that were equipped with conditional tracking AI. Various assets and were used to make visually pleasing graphics
        and make levels challenging. Special power ups were added for the player to alter their abilities.
    </p>

    <p class="text-container">For more information check out the Github link below!</p>

    <a href="https://github.com/JordanChow/FPS-Golf-Game" target="_blank">
      <div class="flexbox-title">
        <img style="width: 2.5%; padding-right: 5px;" src="assets/images/github.svg" alt="Github Icon">
        <h4 style="font-weight: bold; margin-top: 0px;">
          FPS Golf
        </h4>
      </div>
    </a>

    <div class="long-text-container"></div>
</div>

