<div class="flex-parent">
    <img class="background-image" src="assets/images/ContactBackground.svg" alt="Contact Background">
    <app-personal-card class="card" [personalCard]="contactCard"></app-personal-card>     
</div>

<section class="description">
    <h1 class="heading"><clr-icon class="icon" shape="building"></clr-icon>Work</h1>
    <div class="text">
        <a href="assets/resume/JordanChowResume.pdf" target="_blank">Resume</a> |
        <a href="mailto:jordanchow51@gmail.com">Email</a> | 
        <a href="https://linkedin.com/in/jordanchow1" target="_blank">LinkedIn</a> | 
        <a href="https://github.com/JordanChow" target="_blank">Github</a>
    </div>
    <h1 class="heading"><clr-icon class="icon" shape="user"></clr-icon>Personal</h1>
    <div class="text">
        <a href="https://pinterest.com/JordanChow905" target="_blank">Pinterest</a> | 
        <a href="https://open.spotify.com/user/jordan.chow?si=41PV9vE8Slewg_EUSGCAsQ" target="_blank">Spotify</a>
    </div>
</section>       

<footer>Thanks for stopping by! This website was designed with Figma and created in Angular.</footer>

