<div class="container">
    <h1 style="font-weight: bold;">Dating
        <span style="color: #58389b;"> Site</span>
        <span> — Web Application</span> 
    </h1>
    <p style="margin-top: 0 !important;">Jan - Feb 2021</p>

    <p class="text-container">
        This website was created to apply and sharpen my skills in ASP.NET Core and Angular. The entire application 
        was created from scratch and it taught me some very important skills such as understanding Angular routing, 
        resolvers, directives, observables, and services. For the back-end, I learned about how to use databases to store 
        information, storing models, using AutoMapper, SignalR, pagination, MVC, repository and unit of work pattern, and 
        authentication.
    </p>

    <div class="long-text-container">
        <a href="https://github.com/JordanChow/DatingApp" target="_blank">
            See github repo here.
        </a>
    </div>
    
    <a href="https://datingwebapp.herokuapp.com/" target="_blank">
          <h4 style="font-weight: bold; margin-top: 0px;">
            Dating App
          </h4>
    </a>

    <br>

    <video width="100%" controls>
        <source src="assets/images/DatingAppRecording.mp4" type="video/mp4">
        Your browser does not support the video tag.
    </video>


</div>