<div class="container">
    <h1 style="font-weight: bold;">Autonomous
        <span style="color: #8B4BAF;"> Claw</span> Machine
        <span> — University of Waterloo</span> 
    </h1>
    <p style="margin-top: 0 !important;">Sep - Dec 2019</p>
    
    <p class="long-text-container">
        In a group of 4, we created an autonomous claw machine built out of 3D printed pieces designed in SolidWorks, TETRIX aluminum
        beams, a Lego EV3, servo motors, a touch sensor, ultrasonic sensor, and a colour sensor. The system turns on when 
        a user reaches a certain proximity, prompts the user for a colour, then retrieves the object with that colour, and drops
        it off in the prize area, which can be retrieved upon the touch sensor being pressed.
    </p>

    <a href="https://github.com/JordanChow/Claw-Machine" target="_blank">
      <div class="flexbox-title">
        <img style="width: 2.5%; padding-right: 5px;" src="assets/images/github.svg" alt="Github Icon">
        <h4 style="font-weight: bold; margin-top: 0px;">
          Autonomous Claw Machine
        </h4>
      </div>
    </a>
    

    <br>

    <div class="flexbox">
        <img class="image" src="assets/images/ClawMachine.JPG" alt="Claw Machine">
    
        <p style="margin-left: 20px "class="text-container">
            The system incorporates many different components, which was challenging to get them to all work together.
            This project required the combination of mechanical and software to succeed and I really enjoyed seeing how
            the two disciplines could be used in conjunction to build something amazing. It required us to thoroughly plan
            out our designs and how we wanted to accomplish things. This project helped me realize how much I enjoy 
            collaborating with others, especially from different fields or areas or knowledge.
        </p>
    </div>
</div>

