<div class="container">
    <h1 style="font-weight: bold;">Quality Assurance
        <span style="color: #76c893;"> Specialist</span>
        <span> — PEER Group</span> 
    </h1>
    <p style="margin-top: 0 !important;">May - Aug 2020</p>
    
    <p class="text-container">
    
    </p>
    <p class="text-container">
        I started my co-op career at the University Waterloo with Quality Assurance Specialist at PEER Group. At PEER Group, 
        they specialize in automation software for semiconductor manufacturers, so it was a very relevant and interesting 
        job in an extremely important industry. During my 4 months as a QA Specialist, I gained exposure to various testing 
        technologies, Azure DevOps, and got to work on client projects.
    </p>
    <br>
    
    <h2 style="font-weight: bold; color:#76c893">Introduction</h2>
    <p class="long-text-container">
        Firstly, for my orientation I became familiar with using Azure DevOps and the equipment automation and control 
        framework product (PTO) we had at PEER Group. To finish off my orientation, I was tasked with vigorously testing 
        a WPF application, including creating a test plan, executing test cases, and bug verification. I worked closely
        with the developer that created this application to resolve bugs and achieve a functioning product.
    </p>
    <br>
    <h2 style="font-weight: bold;">My <span style="color:#76c893">Contributions</span> to PEER Group</h2>
    
    <h4 style="font-weight: bold;">PG Apps</h4>
    <p class="long-text-container">
        PG Apps is PEER Group's internal website that is used company wide. I began by setting up the QA environment on a VM 
        to begin testing. Here, I applied my skills to write a test plan and test features across the website. I performed
        lots of adhoc testing and bug verification, while creating new builds. This experience got me used to the general
        QA process and I was able to work alongside developers to resolve issues.
    </p>
    
    <h4 style="font-weight: bold;">Automated Testing Research</h4>
    <p class="long-text-container">
        In between transferring projects, I took the initiative to investigate viable technologies PEER Group could use to
        help automate their UI testing of WPF applications. I created a document to record my findings and presented a detailed
        proposal to find the most suitable option for PEER Group down the line. These findings were presented to senior software
        developer managers, who were impressed by the level of research completed.
    </p>
    
    <h4 style="font-weight: bold;">PG Apps - Engineering Utility</h4>
    <p class="long-text-container">
        My next task was to test a new utility for PG Apps - a tool to automate the process of importing requirements and 
        task work items from a Word document to Azure DevOps and export test cases to an Excel file. This was an extremely
        valuable asset for the engineering team, so I ensured the utility was functioning as required as the sole QA, 
        testing 100+ documents and numerous edge cases using Microsoft Test Manager (MTM). I provided complete documentation
        and support for the usage of the utility and it was then launched company wide and has aided in project ramp up 
        speed greatly.
    </p>
    
    <h4 style="font-weight: bold;">Client Projects</h4>
    <p class="long-text-container">
        The name of the projects are not disclosed due to privacy for PEER Group. I worked on two client projects, revolving
        around the PEER Tool Orchestrator (PTO) product. This product was a framework to help integrate tooling into different
        environments, accompanied by a GUI for easy customization. Here I spent the bulk of my co-op, testing the tool and its
        various components. This involved writing automated test scripts with the PEER Factory Acceptance Tester (PFAT), 
        creating the test plan for a future iteration and presenting it to the project leads, and leveraging Equipment Information
        Bridge (EIB) server and SECSIM Pro+ to test equipment to host connectivity.
    </p>
    <p class="long-text-container">
        These client projects gave me a great opportunity to work in a team setting alongside with other QA, developers, and PMs.
        It was fascinating learning about these new tools that were extremely intricate and becoming comfortable with the 
        development lifecycle and process. Finally to conclude, I was given an outstanding work term rating which signifies
        I made a unique contribution and had an exceptional performance with the company.
    </p>
</div>

