<div class="flex-parent">
  <img class="background-image" src="assets/images/HomeBackground.svg" alt="Home Background">
  <app-personal-card class="card" [personalCard]="homeCard"></app-personal-card>
</div>

<section class="description">
  <h1 class="about heading">About</h1>
  <div class="section about-animate">
    <div class="about-placeholder">
      <img class="about-image" src="assets/images/RobotSpace.png" alt="Robot in space">
    </div>
    <div class="about-text-placeholder">
      <p class="about-text">Meet Jordan. An engineer hungry to learn and experience as much as possible in
        the constantly evolving technology landscape. A student with a passion for sports, design, film, food,
        and fashion.
      </p>
    </div>
  </div>
  <br>
  <div class="education-section">
    <h1 class="education heading">Education</h1>
    <div class="section">
      <p class="education-text">I am a student at the <span style="color: #EDC513"><b>
            University of Waterloo</b></span>, studying <span style="color: #EDC513"><b>
            Mechatronics Engineering</b></span>.
        Mechatronics Engineering is the "design of computer-controlled electromechanical systems. This
        discipline combines a multitude of different engineering fields. It was this level of diversifitcation
        in skills that made me gravitate towards the program.
      </p>
      <img class="education-image" src="assets/images/RobotCar.png" alt="Car">
    </div>
  </div>

  <h1 class="interest heading">Interests</h1>
  <div class="section">
    <img class="interest-image" src="assets/images/JordanShoe.png" alt="Jordan 1 Sneaker">
    <p class="interests-text">Throughout my life I have always been involved with sports such as soccer, volleyball,
      badminton, basketball, and tennis. I am interested in clothing, interior design, and music. In my spare
      time I like to go thrifting, play sports, watch movies, and cook new recipes.
    </p>
  </div>
</section>
