<div class="container">
    <h1 style="font-weight: bold;">Healthy
        <span style="color: #5e60ce;"> Bridge</span> 
        <span> — Hack the North</span> 
    </h1>    
    <p class="text-container">
        In Canada's largest hackathon, we created a web application that leverages an image recognition API and Facebook's
        API to scan Facebook profiles and detect mental health issues based on concerning content in images. This project
        was awarded the Indico API Prize for using their API to detect text and use machine learning.
    </p>

    <p class="text-container">For more information check out the Devpost link below!</p>

    <a href="https://devpost.com/software/healthapp-pb3umv" target="_blank">
      <div class="flexbox-title">
        <img style="width: 2.5%; padding-right: 5px;" src="assets/images/devpost.svg" alt="Devpost Icon">
        <h4 style="font-weight: bold; margin-top: 0px;">
          Healthy Bridge Web App
        </h4>
      </div>
    </a>

    <div class="long-text-container"></div>
</div>

